@import url("./variable.css");

html,
body {
  font-family: Roboto;
}

.header-main {
  width: 100%;
}

.header-main__top {
  padding: 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  background-color: var(--nav-bg);
}

.header-main__logo {
  color: var(--color-logo);
  font-size: 36px;
  height: 100%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;
  font-size: 18px;
}

.menu__list li {
  padding-left: 39px;
}

.menu__list a {
  color: #ffffff;
}

.menu__box {
  position: relative;
}

.menu-box__content {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 18px;
}

.header-main__bottom {
  position: relative;
  width: 100%;
  background-image: url("../assets/images/desktop/Background.png");
  height: 566px;
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: cover;
  object-position: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height:566px;
  background-color: #b08f34;
  opacity: 0.5;
}

.header-main__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  z-index: 1;
}

.header-main__content--child {
  padding-top: 146px;
}

.header-main__sub-title {
  text-align: center;
  padding: 14px 0;
}

.action {
  width: 100%;
  margin: 18px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email {
  font-size: 16px;
  outline: none;
  padding: 13px;
}

.header-email {
  background-color: transparent !important;
  width: 270px;
  border-radius: 4px;
}

.header-submit {
  background-color: transparent;
  width: 198px;
  height: 48.4px;
  border-radius: 50px;
  margin-left: 30px;
}

.header-main__service {
  margin-top: 50px;
  /* display: flex; */
  display: grid;
  grid-template-columns: 60px 60px 60px;
  gap: 72px;
  justify-content: center;
}

.icon {
  border-radius: 50%;
  background-color: var(--nav-bg);
  width: 80px;
  height: 80px;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-header {
  margin: 0 20px;
}
.icon-middle {
  margin: 0 80px;
}
/*>=740 and <=1023*/

@media only screen and (min-width:37.5em) and (max-width: 64em) {
    .container{
        width: 100%;
    }

  .header-main__logo {
    color: var(--color-logo);
    font-size: 24px;
    /* left: 200px !important; */
    margin-left: 32px;
    top: 55px;
    width: 136px;
    height: 29px;
  }

  .menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 75px;
    font-size: 12px;
  }

  .menu-box__content {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 11px;
    padding: 10px 20px;
    border-radius: 50px;
  }

  .header-email {
    width: 228px;
    padding: 9px;
  }

  .header-submit {
    width: 140px;
    height: 40px;
    background-color: #0000;
    border-radius: 50px;
    margin-left: 30px;
  }

  .header-main__bottom {
    width: 100%;
    height: 566px;
    object-fit: cover;
    object-position: center;
    background-image: url(../assets/images/tablet/Background.png);
    background-repeat: no-repeat;
    background-size: 100% 566px;
    position: relative;
  }

  .overlay {
    height: 566px;
  }

  .icon {
    width: 64px;
    height: 64px;
  }
}

@media only screen and (max-width: 37.4375em) {

  .menu{
    display: none;
  }

  .header-main__top{
    display: flex;
    justify-content: start;
  }

  .header-main__bottom{
    width: 100%;
    height: 566px;
    background-size: 100% 566px;
  }

  .title-header{
    width: 346px;
    height: 72px;
    margin: 0 auto;
  }

  .action{
    display: flex;
    flex-direction: column;
  }

  .header-email{
    width: 171px;
    padding: 7px;
  }

  .header-submit{
    width: 190px;
    margin: 10px ;
  }

  .header-main__service{
    grid-template-columns: 50px 50px 50px;
    gap: 72px;
    margin-top: 50px;
    display: grid;
  }
}