@import url("./variable.css");
@import url("./components/team-profile.css");
@import url("./components/card-advantages.css");
@import url("./components/card.css");
@import url("./components/listIcon.css");
@import url("./components/plan.css");
@import url("./components/business.css");
@import url("./components/places.css");
@import url("./components/account.css");
@import url("./components/contact.css");
html,
body {
  font-family: Roboto;
}


main {
  width: 100%;
}

.img-main{
  margin-top: 20px;
}
.middle {
  margin: 0 24px;
}
.end{
  margin: 0;
}


.box1 {
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}

.box2 {
  width: 98%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.silver {
  width: 30%;
  background: linear-gradient(
    225deg,
    rgba(255, 255, 255, 0.496575) 0%,
    rgba(255, 255, 255, 0.0001) 100%
  );
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px #00000080;
  color: #ffffff;
}

.silver .purchase {
  background-color: var(--color-logo);
  color: var(--nav-bg);
  margin: 24px auto;
}

.gold {
  width: 30%;
  background: var(--color-logo);
  margin: 0 24px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px #00000080;
  color: var(--nav-bg);
}

.gold .card-title {
  color: var(--nav-bg);
}
.gold .purchase {
  background-color: var(--nav-bg);
  color: var(--text-white);
  margin: 24px auto;
}

.platinium {
  width: 30%;
  background: linear-gradient(
    223.49deg,
    rgba(0, 0, 0, 0.0001) 4.85%,
    rgba(0, 0, 0, 0.401127) 96.5%
  );
  background-blend-mode: multiply;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px #00000080;
  color: var(--text-white);
}

.platinium .purchase {
  background-color: var(--color-logo);
  color: var(--nav-bg);
  margin: 24px auto;
}
 .purchase:hover {
  background-color: var(--text-white);
  color: var(--nav-bg);
  cursor: pointer;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
}

@media  only screen  and (max-width: 1200px){
    .container{
    width: 100%;
    }
  
    .box1{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
  
    .box2{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .silver .purchase{
      width: 60%;
    }

    .gold .purchase{
      width: 60%;
    }

    .platinium .purchase{
      width: 60%;
    }
}

@media only screen and (max-width: 767px){
    .box1{
        display: flex;
        flex-direction: column;
    }

    .box2{
        display: flex;
        flex-direction: column;
    }

    .silver{
      width: 70%;
      margin: 20px auto;
    }
    .silver .purchase{
      width: 60%;
      padding: 4%;
    }

    .gold .purchase{
      width: 60%;
      padding:  4%;
    }

    .gold{
      width: 70%;
      margin: 20px auto;
    }

    .platinium .purchase{
      width: 60%;
      padding: 4%;
    }

    .platinium{
      width: 70%;
      margin: 20px auto;
    }
}

