@import url("./variable.css");
@import url("./components/team-profile.css");
@import url("./components/card-advantages.css");
@import url("./components/card.css");

html,
body {
  font-family: Roboto;
}


main {
  width: 100%;
}


figure {
  margin: 0;
}

.img-main{
  margin-top: 20px;
}
.middle {
  margin: 0 24px;
}
.end{
  margin: 0;
}
.team {
  padding-bottom: 44px;
}
.title_price {
  color: #ffffff;
  padding: 56px;
}
.main-team__title {
  margin: 30px 0;
}
.box1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media  only screen and (min-width:37.5em) and (max-width: 64.0625em){
    .team{
        display: flex;
        flex-direction: row;
    }
    
    .container{
      width: 100%;
    }
  
      .box1{
        display: flex;
        flex-direction: column;
        width: 48%;
        margin-left: 14px;
    }
  
      .box2{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .description__table {
        width: 70%;
    }
}


@media only screen and (max-width: 37.4375em){
    .team{
        display: flex;
        flex-direction: column;
    }
    .box1{
        display: flex;
        flex-direction: column;
    }

    .box2{
        display: flex;
        flex-direction: column;
    }
}