@import url("./variable.css");
@import url("./components/team-profile.css");
@import url("./components/card-advantages.css");
@import url("./components/card.css");

html,
body {
  font-family: Roboto;
}


main {
  width: 100%;
}

figure {
  margin: 0;
}

.img-main{
  margin-top: 20px;
}
.middle {
  margin: 0 24px;
}
.end{
  margin: 0;
}
.team {
  padding-bottom: 44px;
}
.title_price {
  color: #ffffff;
  padding: 56px;
}
.main-team__title {
  margin: 30px 0;
}
.box1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.plan {
  width: 100%;
  height: 680px;
  background-color: #4b4b4b;
}

.wrapper{
  height: 60%;
}

.plan-content__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

.silver {
  width: 30%;
  background: linear-gradient(
    225deg,
    rgba(255, 255, 255, 0.496575) 0%,
    rgba(255, 255, 255, 0.0001) 100%
  );
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px #00000080;
  color: #ffffff;
}

.silver .purchase {
  background-color: var(--color-logo);
  color: var(--nav-bg);
  margin: 24px auto;
}

.gold {
  width: 30%;
  background: var(--color-logo);
  margin: 0 24px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px #00000080;
  color: var(--nav-bg);
}

.gold .card-title {
  color: var(--nav-bg);
}
.gold .purchase {
  background-color: var(--nav-bg);
  color: #ffffff;
  margin: 24px auto;
}

.platinium {
  width: 30%;
  background: linear-gradient(
    223.49deg,
    rgba(0, 0, 0, 0.0001) 4.85%,
    rgba(0, 0, 0, 0.401127) 96.5%
  );
  background-blend-mode: multiply;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px #00000080;
  color: #ffffff;
}

.platinium .purchase {
  background-color: var(--color-logo);
  color: var(--nav-bg);
  margin: 24px auto;
}

.name-business {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  width: 230px;
  height: 27px;
  margin-left: 22px;
}

.business-avatar__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 120px;
  margin-bottom: 0;
}

.business-avatar {
  border: 4px solid var(--color-logo);
  border-radius: 50%;
  margin-bottom: 20px;
}

.business_description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-business {
  width: 555px;
  height: 96px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 24px;

  text-align: center;
  font-size: 12px;
  font-family: Roboto;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0em;
  margin-top: 24px;
}

.about-slider__icon {
  margin: 0 100px 50px;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
  width: 52px;
  position: relative;
  height: 52px;
}

.icon-business {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  transform: translate(50%, 50%);
  background-color: transparent;
}

.slider-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.point-pagination {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid var(--nav-bg);
  margin: 0px 4px;
}

.point-pagination__middle {
  background-color: var(--nav-bg);
}

.advantages {
  max-width: 100%;
  height: 680px;
  background-color: #4b4b4b;
}

.title_advantages {
  padding: 56px 56px 0;
}

.title_advantages {
  color: #ffffff;
}

.sub-title__advantages {
  width: 430px;
  height: 48px;
  margin: 25px auto;
  color: #ffffff;
}

@media  only screen and (min-width:37.5em) and (max-width: 64.0625em){
    .team{
        display: flex;
        flex-direction: row;
    }
  
      .box1{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
  
      .box2{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .description__table {
        width: 70%;
    }

    .wrapper{
      height: 50%;
    }
    .silver .purchase{
      width: 60%;
    }

    .gold .purchase{
      width: 60%;
    }

    .platinium .purchase{
      width: 60%;
    }

    .about-slider__icon{
      display: none;
    }
}

@media only screen and (max-width: 37.4375em){
    .team{
        display: flex;
        flex-direction: column;
    }
    .box1{
        display: flex;
        flex-direction: column;
    }

    .box2{
        display: flex;
        flex-direction: column;
    }

    .plan{
      width: 100%;
      height: 1452px;
    }

    .wrapper{
      height: 100%;
    }

    .silver{
      width: 50%;
      margin: 20px auto;
    }
    .silver .purchase{
      width: 60%;
    }

    .gold .purchase{
      width: 60%;
    }

    .gold{
      width: 50%;
      margin: 20px auto;
    }

    .platinium .purchase{
      width: 60%;
    }

    .platinium{
      width: 50%;
      margin: 20px auto;
    }

    .plan-content__wrapper{
      display: flex;
      flex-direction: column;

      justify-content: flex-start;

    }

    .about-slider__icon{
      display: none;
    }
    .point-pagination {
      width: 1%;
      height: 6px;
      border: 2px solid var(--nav-bg);
      border-radius: 50%;
      margin: 0 4px;
  }
  .advantages{
    height: 1590px;
  }
}