<footer class="footer">
    <div class="container-contact">
      <div class="footer-top">
        <div class="contact-footer">
          <div class="footer-title sub-title__tablet ">CONTACT US</div>
          <div class="footer-locationAndEmail">
            <p class="footer-location text1__tablet">
              2300 W Arbutus Dr Citrus Springs, FL 34434, USA
            </p>
            <p class="footer-email text1__tablet">contact@hofmannui.net</p>
          </div>
        </div>
  
        <div class="social-footer">
          <div class="footer-title sub-title__tablet">FOLLOW US</div>
          <div class="group-social__footer">
            <div class="social-icon">
              <img src="../assets/images/desktop/Pinterest.png" alt="Fill4" />
            </div>
            <div class="social-icon">
              <img src="../assets/images/desktop/twitter1.png" alt="twitter" />
            </div>
            <div class="social-icon">
              <img src="../assets/images/desktop/facebook1.png" alt="facebook" />
            </div>
          </div>
        </div>
  
        <div class="aboutUs">
          <div class="footer-title sub-title__tablet">ABOUT US</div>
          <div class="aboutUS-description text1__tablet">
            Hoffman UI Kit was made to help you quickly create beautiful layouts
            of responsive websites.
          </div>
        </div>
      </div>
      <hr width="100%" height="1px" color="#7D7D7D" />
      <div class="footer-bottom">
        <div class="footer-bottom__link">
          <div class="name-company">© 2016 Hofmann UI Kit</div>
          <div class="footer-page text1__tablet">
            <include src="../components/list.html" locals='{
              "list": "[`HOME`, `SERVICES`, `TEAM`, `PORTFOLIO`, `CONTACT`]",
              "class": "pageName text1__tablet"
            }'></include>
          </div>          
          <img src="../assets/images/desktop/go-top-button.png" alt="" class="goTop">
        </div>
      </div>
    </div>
    
  </footer>
  