<header class="header-main">
    <div class="container">
      <div class="header-main__top">
        <a href="javascript:void(0)" class="header-main__logo">HOFMANN</a>
        <div class="menu">
          <nav>
            <ul class="menu__list">
              <li>
                <a
                  href="javascript:void(0)"
                  class="title--third link-main menu__link"
                  >MISSION</a
                >
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  class="title--third link-main menu__link"
                  >SERVICES</a
                >
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  class="title--third link-main menu__link"
                  >ABOUT</a
                >
              </li>
            </ul>
          </nav>
          <div class="menu-box">
            <div class="menu-box__content">TAKE A TOOR</div>
          </div>
        </div>
      </div>
  
      <div class="header-main__bottom">
        <div class="overlay"></div>
        <div class="header-main__content">
          <div class="header-main__content--child">
            <p class="title-header title--main title--main__tablet title--main__mobile">
              Choosing The Right Boutique Hotel For You
            </p>
            <p class="sub-title header-main__sub-title text1__mobile">
              How To Fly A Private Jet On Your Next Trip
            </p>
            <div class="action">
              <input
                type="email "
                class="email header-email"
                name=""
                id=""
                placeholder="Your Email"
              />
              <input type="submit" class="header-submit" value="FIND NOW" />
            </div>
            <div class="header-main__service">
              <include
                src="../components/listIcon.html"
                locals='{
                "cardImageTable" : "../assets/images/tablet/plane-icon.png",
                "cardImageMobile" : "../assets/images/mobile/plane-icon.png",
                "image" : "../assets/images/desktop/plane-icon.png"
            }'
              ></include>
  
              <include
                src="../components/listIcon.html"
                locals='{
                "cardImageTable" : "../assets/images/tablet/wallet-icon.png",
                "cardImageMobile" : "../assets/images/mobile/wallet-icon.png",
                "image" : "../assets/images/desktop/wallet-icon.png"
            }'
              ></include>
  
              <include
                src="../components/listIcon.html"
                locals='{
                "cardImageTable" : "../assets/images/tablet/case-icon.png",
                "cardImageMobile" : "../assets/images/mobile/case-icon.png",
                "image" : "../assets/images/desktop/case-icon.png"
            }'
              ></include>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  