<main>
    <section class="team">
        <div class="container">
          <h2 class="title--main main-team__title title--main__tablet">Our Team</h2>
          <div class="team">
            <div class="box1">
              <include
                src="../components/teamProfile.html"
                locals='{
                        "cardImageMobile": "../assets/images/desktop/person.png",
                        "cardImage": "../assets/images/desktop/person.png",
                        "cardImageTablet" : "../assets/images/tablet/person.png",
                        "nameMember" : "Craig Todd",
                        "job" : "CEO",
                        "description" : "Like the majority of sales peple, I visti a huge number of clients and prospects every month"
                    }'
              ></include>
              <include
                src="../components/teamProfile.html"
                locals='{
                        "cardImageMobile": "../assets/images/desktop/person1.png",
                        "cardImage": "../assets/images/desktop/person1.png",
                        "cardImageTablet" : "../assets/images/tablet/person1.png",
                        "nameMember" : "Vera Hopkins",
                        "job" : "UX Lead",
                        "description" : "Differentiate Yourself And Attract More Attension Sales And Profits"
                    }'
              ></include>
    
              <include
                src="../components/teamProfile.html"
                locals='{
                        "cardImageMobile": "../assets/images/desktop/person2.png",
                        "cardImage": "../assets/images/desktop/person2.png",
                        "cardImageTablet" : "../assets/images/tablet/person2.png",
                        "nameMember" : "Jennie Graham",
                        "job" : "UX/UI Designer",
                        "description" : "WorldPress Version 2 0 3 Review"
                    }'
              ></include>
            </div>
            <div class="box2">
              <include
                src="../components/teamProfile.html"
                locals='{
                        "cardImageMobile": "../assets/images/desktop/person3.png",
                        "cardImage": "../assets/images/desktop/person3.png",
                        "cardImageTablet" : "../assets/images/tablet/person3.png",
                        "nameMember" : "Eunice Wong",
                        "job" : "Marketing consultant",
                        "description" : "Advertising Internet Online Opportunities To Explore"
                    }'
              ></include>
              <include
                src="../components/teamProfile.html"
                locals='{
                        "cardImageMobile": "../assets/images/desktop/person4.png",
                        "cardImage": "../assets/images/desktop/person4.png",
                        "cardImageTablet" : "../assets/images/tablet/person4.png",
                        "nameMember" : "Chase Meyer",
                        "job" : "Front-end Developer",
                        "description" : "Search Engine Optimization And Advertising"
                    }'
              ></include>
              <include
                src="../components/teamProfile.html"
                locals='{
                        "cardImageMobile": "../assets/images/desktop/person5.png",
                        "cardImage": "../assets/images/desktop/person5.png",
                        "cardImageTablet" : "../assets/images/tablet/person5.png",
                        "nameMember" : "Johnny Vargas",
                        "job" : "Back-end Developer",
                        "description" : "Maintain Your PC S Performance With PC Programs"
                    }'
              ></include>
            </div>
          </div>
        </div>
    </section>

    <section class="plan">
      <h2 class="title--main title_price title--main__tablet">
        Choose Your Plan
      </h2>
      <div class="wrapper">
        <div class="plan-content__wrapper">
          <div class="silver">
            <include
              src="../components/card.html"
              locals='{
                          "cardTitle": "SILVER",
                          "price": "49",
                          "account": "Personal Account",
                          "data": "25 GB Discspace",
                          "uploads": "Uploads per day"
                          }'
            ></include>
          </div>
  
          <div class="gold">
            <include
              src="../components/card.html"
              locals='{
                              "cardTitle": "GOLD",
                              "price": "99",
                              "account": "Personal Account",
                              "data": "50 GB Discspace",
                              "uploads": "Uploads per day"
                          }'
            ></include>
          </div>
  
          <div class="platinium">
            <include
              src="../components/card.html"
              locals='{
                              "cardTitle": "PLATINIUM",
                              "price": "299",
                              "account": "Team Account",
                              "data": "500 GB Discspace",
                              "uploads": "Unlimited Uploads per day"
                          }'
            ></include>
          </div>
        </div>
      </div>
    </section>

    <section class="business">
      <div class="container">
        <figure class="business-avatar__wrap">
          <picture>
            <source
            media="(max-width:768px)"
            srcset=" ../assets/images/tablet/Rectangle13.png"
            class="img-main"
            />
            <source
            media="(max-width:375px)"
            srcset=" ../assets/images/mobile/Person6.png "
            class="img-main"
            />
            <img
            src="../assets/images/desktop/Rectangle.png"
            alt="Ida Stephents"
            class="business-avatar"
            />
          </picture>
          
          <figcaption class="name-business">
            Ida Stephens — Noir Project
          </figcaption>
        </figure>
        <div class="business_description">
          <figure class="about-slider__icon">
            <img
              src="../assets/images/desktop/prev.png"
              alt="pre-icon"
              class="pre-icon icon-business"
            />
          </figure>
          <p class="content-business">
            “Conversations can be a tricky business. Sometimes, decoding what is
            said with what is meant is difficult at best. However, communication
            is a necessary tool in todays world. It’s often been the case were one
            party completely miscommunicates to another due to a misunderstanding
            between parties.”
          </p>
          <figure class="about-slider__icon">
            <img
              src="../assets/images/desktop/next.png"
              alt=""
              class="next-icon icon-business"
            />
          </figure>
        </div>
        <div class="slider-pagination">
          <div class="point-pagination"></div>
          <div class="point-pagination"></div>
          <div class="point-pagination point-pagination__middle"></div>
          <div class="point-pagination"></div>
          <div class="point-pagination"></div>
        </div>
      </div>
    </section>
</main>