.name-company{
    width: 17%;
}

.footer-page{
    width: 80%;
}

.icon-header{
    width: 100%;
}

@media screen and (max-width:1200px){
    .icon-header{
        width: 100%;
        margin: 0;
    }
    
    .wrapper-image{
        width: 100%;
    }

    .goTop{
        margin-right: 20px;
    }
}

@media screen and (max-width:767px){
    .icon-header{
        width: 100%;
        margin: 0;
    }
    
    .wrapper-image{
        width: 100%;
    }

    .goTop{

    }
}