
  .team-profile{
    width: 97%;
  }

  .team {
    padding-bottom: 44px;
  }

  .main-team__title {
    margin: 30px 0;
  }
  
  .content {
    width: 100%;
    height: 100%;
  }
  
  .team-profile__content {
    width: 100%;
    max-height: 72px;
    margin-left: 28px;
  }
  
  .avatar-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .team-profile__image {
    margin: 20px 0;
  }
  .job {
    padding: 10px 0;
  }


  @media screen and (max-width: 1200px) {
    .team{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .avatar-image{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .description__table {
      font-size: 12px;
        width: 70%;
    }
  }
  
  @media screen and (max-width: 767px) {
    .team{
      display: flex;
      flex-direction: column;
    }
    .avatar-image{
      display: flex;
      justify-content: flex-start;
    }

    .team-profile__content{
      width: 90%;
    }
  }
