<section class="advantages">
    <h2 class="title--main title_advantages  title--main__tablet title--main__mobile">Advantages</h2>

    <p class=" sub-title__advantages sub-title sub-title__advantages sub-title__mobile">
      One more thing! Any time we start something new it is exciting and we are
      very motivated and committed.
    </p>
    <div class="wrapper">
      <div class="plan-content__wrapper">
        <div class="platinium">
          <include
            src="../components/card-advantages.html"
            locals='{
                        "cardImageMobile": "../assets/images/mobile/safe.png",
                        "cardImageTablet" : "../assets/images/tablet/safe.png",
                        "cardTitle": "SECURE",
                        "cardIcon":"../assets/images/desktop/safe.png",
                        "extension": "YOUR DATA IS PROTECTED",
                        "description" :"No matter how far along you are in your sophistication as an amateur astronomer…"
                        }'
          ></include>
        </div>

        <div class="platinium middle">
          <include
            src="../components/card-advantages.html"
            locals='{
                        "cardImageMobile": "../assets/images/mobile/aesthetic.png",
                        "cardImageTablet" : "../assets/images/tablet/aesthetic.png",
                        "cardTitle": "AESTHETIC",
                        "cardIcon":"../assets/images/desktop/aesthetic.png",
                        "extension": "UNIQUE DESIGN",
                        "description" :"Acres of Diamonds… you’ve read the famous story, or at least had it related to you."
                        }'
          ></include>
        </div>

        <div class="platinium end">
          <include
            src="../components/card-advantages.html"
            locals='{
                        "cardImageMobile": "../assets/images/mobile/neat-icon.png",
                        "cardImageTablet" : "../assets/images/tablet/neat-icon.png",
                        "cardTitle": "NEAT",
                        "cardIcon":"../assets/images/desktop/neat-icon.png",
                        "extension": "ACCURATE IN DETAILS",
                        "description" :"Some days a motivational quote can provide a quick pick-me-up."
                        }'
          ></include>
        </div>
      </div>
    </div>
  </section>