<section class="business">
    <div class="container">
      <figure class="business-avatar__wrap">
        <picture>
          <source
          media="(max-width: 1200px)"
          srcset=" ../assets/images/tablet/Rectangle13.png"
          class="img-main"
          />
          <source
          media="(max-width: 767px)"
          srcset=" ../assets/images/mobile/Person6.png "
          class="img-main"
          />
          <img
          src="../assets/images/desktop/Rectangle.png"
          alt="Ida Stephents"
          class="business-avatar"
          />
        </picture>
        
        <figcaption class="name-business">
          Ida Stephens — Noir Project
        </figcaption>
      </figure>
      <div class="business_description">
        <figure class="about-slider__icon">
          <img
            src="../assets/images/desktop/prev.png"
            alt="pre-icon"
            class="pre-icon icon-business"
          />
        </figure>
        <p class="content-business">
          “Conversations can be a tricky business. Sometimes, decoding what is
          said with what is meant is difficult at best. However, communication
          is a necessary tool in todays world. It’s often been the case were one
          party completely miscommunicates to another due to a misunderstanding
          between parties.”
        </p>
        <figure class="about-slider__icon">
          <img
            src="../assets/images/desktop/next.png"
            alt=""
            class="next-icon icon-business"
          />
        </figure>
      </div>
      <div class="slider-pagination">
        <div class="point-pagination"></div>
        <div class="point-pagination"></div>
        <div class="point-pagination point-pagination__middle"></div>
        <div class="point-pagination"></div>
        <div class="point-pagination"></div>
      </div>
    </div>
  </section>