<section class="contact">
    <div class="container-contact">
      <h2 class="title--main title-contact  title--main__tablet">Contact Us</h2>
      <div class="contact-content__wrapper">
        <div class="information-contact">
          <div class="contact-title sub-title__tablet">Get In Touch</div>
          <div class="contact-location">
            <div class="icon-location__contact">
              <img
                src="../assets/images/desktop/location.png"
                alt="location-icon"
              />
            </div>
            <div class="info-location text1__tablet">
              2300 W Arbutus Dr Citrus Springs, FL 34434, USA
            </div>
          </div>
          <div class="contact-email">
            <div class="icon-mail__contact">
              <img src="../assets/images/desktop/mail.png" alt="mail-icon" />
            </div>
            <div class="mail text1__tablet">contact@hofmannui.net</div>
          </div>
          <div class="contact-phone">
            <div class="icon-phone__contact">
              <img src="../assets/images/desktop/phone.png" alt="phone-icon" />
            </div>
            <div class="group-phoneNumber">
              <div class="phoneNumber text1__tablet">793-891-7938</div>
              <div class="phoneNumber text1__tablet">512-915-5628</div>
              <div class="phoneNumber text1__tablet">952-775-6021</div>
            </div>
          </div>
        </div>

        <div class="form-contact">
          <div class="form-contact__NameMail">
            <div class="name-input">
              <label class="label_title text1__tablet">Name:</label>
              <input type="text" name="" class="input-name" id="" />
            </div>
            <div class="email-input">
              <label for="" class="label_title text1__tablet">Email:</label>
              <input type="email" name="" class="input-email" id="" />
            </div>
          </div>
          <div class="message">
            <label for="" class="label_title1 text1__tablet">Message:</label>
            <textarea
              name=""
              id=""
              class="textArea"
              cols="30"
              rows="10"
            ></textarea>
          </div>

          <div class="submit-contact">SUBMIT</div>
        </div>

        <div class="credits">
          <div class="info-credits">
            <div class="credit-title contact-title sub-title__tablet">Credits</div>
            <div class="credit-description text1__tablet">
              In order to discuss the general function of the logo, we must
              firstly identify and define the environment where this will have
              to fulfill its function.
            </div>
          </div>

          <div class="social-network">
            <div class="social-title contact-title sub-title__tablet">Follow</div>
            <div class="group--icon__social">
              <img
                src="../assets/images/desktop/Fill4.png"
                class="social-icon"
                alt="Fill4"
              />
              <img
                src="../assets/images/desktop/linkedin.png"
                class="social-icon"
                alt="linkedin"
              />
              <img
                src="../assets/images/desktop/google-plus.png"
                class="social-icon"
                alt="google-plus"
              />
              <img
                src="../assets/images/desktop/twitter.png"
                class="social-icon"
                alt=""
              />
              <img
                src="../assets/images/desktop/facebook.png"
                class="social-icon"
                alt="facebook"
              />
              <img
                src="../assets/images/desktop/instagram.png"
                class="social-icon"
                alt="instagram"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>