<section class="create-account">
    <div class="account-container">
      <div class="title-account title--main">Create An Account</div>
      <div class="form-wrapper">
        <div class="form-create">
          <div class="form-create__title">SIGN UP</div>
          <div class="form-create__content">
            <input
              type="email"
              name=""
              class="form-a "
              placeholder="Email"
              id=""
            />
            <input
              type="email"
              name=""
              class="form-a"
              placeholder="Password"
              id=""
            />
            <input
              type="email"
              name=""
              class="form-a"
              placeholder="Confirm Password"
              id=""
            />
          </div>
          <a class="have-account">Already Have an account ?</a>
          <div class="form-submit">SIGN UP</div>
        </div>  
      </div>
    </div>
  </section>