<section class="places">
    <div class="container">
      <div class="place-title title--main  title--main__tablet">Places</div>
      <div class="location">
        <include src="../components/list.html" locals='{
          "list": "[`SAN FRANCISCO`, `SOUTH LILIANA`, `BLICK VIEW`, `NEW RAVEN`]",
          "class": "name-location"
        }'></include>
      </div>
      <select class="location-mobile">
        <option class="name-location" >SAN FRANCISCO</option>
        <option class="name-location" >SOUTH LILIANA</option>
        <option class="name-location">BLICK VIEW</option>
        <option class="name-location" >NEW RAVEN</option>
      </select>
      <div class="location-image">
        <div class="location-image__wrapper">
          <include src="../components/listIcon.html" locals='{
            "cardImageTablet": "../assets/images/tablet/card1.png",
            "cardImageMobile": "../assets/images/mobile/card1.png",
            "image": "../assets/images/desktop/Card1.png"
          }'
          ></include>
          <include src="../components/listIcon.html" locals='{
            "cardImageTablet": "../assets/images/tablet/card2.png",
            "cardImageMobile": "../assets/images/mobile/card2.png",
            "image": "../assets/images/desktop/Card2.png"
          }'
          ></include>
          <include src="../components/listIcon.html" locals='{
            "cardImageTablet": "../assets/images/tablet/card3.png",
            "cardImageMobile": "../assets/images/mobile/card3.png",
            "image": "../assets/images/desktop/Card3.png"
          }'
          ></include>
          <include src="../components/listIcon.html" locals='{
            "cardImageTablet": "../assets/images/tablet/card4.png",
            "cardImageMobile": "../assets/images/mobile/card4.png",
            "image": "../assets/images/desktop/Card4.png"
          }'
          ></include>
          <include src="../components/listIcon.html" locals='{
            "cardImageTablet": "../assets/images/tablet/card5.png",
            "cardImageMobile": "../assets/images/mobile/card5.png",
            "image": "../assets/images/desktop/Card5.png"
          }'
          ></include>
          <include src="../components/listIcon.html" locals='{
            "cardImageTablet": "../assets/images/tablet/card66.png",
            "cardImageMobile": "../assets/images/mobile/card6.png",
            "image": "../assets/images/desktop/Card6.png"
          }'
          ></include>
        </div>
      </div>
    </div>
  </section>