<section class="plan">
    <h2 class="title--main title_price title--main__tablet">
      Choose Your Plan
    </h2>
    <div class="wrapper">
      <div class="plan-content__wrapper">
        <div class="silver">
          <include
            src="../components/card.html"
            locals='{
                        "cardTitle": "SILVER",
                        "price": "49",
                        "account": "Personal Account",
                        "data": "25 GB Discspace",
                        "uploads": "Uploads per day"
                        }'
          ></include>
        </div>

        <div class="gold">
          <include
            src="../components/card.html"
            locals='{
                            "cardTitle": "GOLD",
                            "price": "99",
                            "account": "Personal Account",
                            "data": "50 GB Discspace",
                            "uploads": "Uploads per day"
                        }'
          ></include>
        </div>

        <div class="platinium">
          <include
            src="../components/card.html"
            locals='{
                            "cardTitle": "PLATINIUM",
                            "price": "299",
                            "account": "Team Account",
                            "data": "500 GB Discspace",
                            "uploads": "Unlimited Uploads per day"
                        }'
          ></include>
        </div>
      </div>
    </div>
  </section>