<article class="team-profile">
    <div class="content">
      <figure class="avatar-image">
        <div class="team-profile__image">
          <picture>
            <source
              media=" (min-width:37.5em) and (max-width: 64em)"
              srcset="{{ cardImageMobile }}"
              class="img-main"
            />
            <source
              media="(max-width:46.1825em)"
              srcset="{{ cardImageTablet }}"
              class="img-main"
            />
            <img
              src="{{ cardImage }}"
              class="img-main card-image__primary"
              alt="avatar 1 image"
            />
          </picture>
        </div>
        <div class="team-profile__content">
          <h3 class="sub-title sub-title__tablet">{{ nameMember }}</h3>
          <p class="job text1__tablet">{{job}}</p>
          <p class="description__table text1__tablet">{{ description }}</p>
        </div>
      </figure>
    </div>
  </article>
  